<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   </head>
   <body>
      <div id="app">
         <input
            type="text"
            v-model="inputBuku"
            placeholder="Masukan Nama Buku"
         />
         <ul v-for="book in cariBuku">
            <li>{{book}}</li>
         </ul>
      </div>

      <script>
         var vm = new Vue({
            el: "#app",
            data: {
               inputBuku: "",
               books: [
                  "MATEMATIKA DISKRIT",
                  "Pemrograman Berbasis Objek",
                  "Basis Data",
                  "Pemrograman Web",
                  "Pengembangan Aplikasi Mobile",
                  "Z",
                  "z",
               ],
            },
            computed: {
               cariBuku: function () {
                  return this.books.filter((book) => {
                     return book
                        .toLowerCase()
                        .match(this.inputBuku.toLowerCase());
                  });
               },
            },
         });
      </script>
   </body>
</html>
