<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + total}}</h1>
        <h1>{{ 'Rata rata : ' + total/count }}</h1>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                total: 0,
                count: 1, // agar diawal rata-rata tidak NaN 0/0 = NaN
            },
            methods: {
                openForm: function () {
                    while (this.total < 10) {
                        this.a = prompt("Masukan Nilai a")
                        this.a = parseFloat(this.a)
                        this.total += this.a
                        this.count++
                    }
                    this.count-- // mengembalikan angka sebenarnya
                }
            }
        })
    </script>
</body>

</html>