<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <style>
          form {
              border: 1px solid #ddd;
              padding: 5px;
              width: 225px;
              background: #efefef;
          }
          label,input {
              display: block;
              width: 200px;
              margin-top: 5px;
          }
      </style>
   </head>
   <body>
      <div id="app">
          <form @submit.prevent="submitForm">
              <p v-if="errors.length">
                  <b>Pleaser Correct the following Errors</b>
                  <ul>
                      <li v-for="error in errors">{{ error }}</li>
                  </ul>
              </p>
              <label for="">Title</label>
              <input type="text" name="title" ref="title" :disabled="buttonStatus == 'upload'" v-model="title">
              <label for="description">Description</label>
              <textarea name="description" id="description" ref="description" :disabled="buttonStatus == 'upload'" v-model="description" cols="23.7"></textarea>
              
              <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
              </div>
              <div v-if="buttonStatus == 'update'">
                  <!-- // harus nya pake = bukan : -->
                <input type="button" value="UPDATE" @click="updateBlog(idEditBlog)">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
              </div>
              <div v-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo" value="UPDATE" @click="updateBlog(idEditBlog)">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadBlog)" style="margin-top: 5px; margin-bottom: 5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
              </div>

         
          </form>
               
          <br><br>
          <table border="1">
              <!-- // harusnya blog in blogs, karena yang di assign itu blogsnya -->
            <tr v-for="blog in blogs">
                <td>
                    <img width="100" :src="blog.photo ? photoDomain + blog.photo : 'https://dummyimage.com/1920x1080/efef/fff'" alt="">
                </td>
                <td>
                    <b>Title: </b>{{  blog.title }} <br>
                    <b>Description: </b>{{  blog.description }} <br>
                </td>
                <td>
                    <button @click="editBlog(blog)">Edit</button>
                    <button @click="removeBlog(blog.id)">Hapus</button>
                    <button @click="uploadFoto(blog)">Upload photo</button>
                </td>
            </tr>

        </table>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


      <script>
         let vm = new Vue({
            el: "#app",
            data: {
               title: "",
               description: "",
               errors: [],
               blogs: [],
               photoDomain: 'http://demo-api-vue.sanbercloud.com/',
               buttonStatus: 'submit',
               idEditBlog: null,
               idUploadBlog: null,
            },
            methods: {
                validationForm: function(){
                    this.errors = [];

                    if (this.title.length < 5) {
                    this.errors.push("Title Minimal 5 karakter");
                    this.$refs.title.focus();
                    }

                    if (this.description.length > 50) {
                    this.errors.push(
                        "description tidak boleh lebih dari 10 karakter"
                    );
                    this.$refs.description.focus();
                    }
                },
            clearForm: function(){
                this.title='',
                this.description='',
                this.buttonStatus='submit',
                this.idEditBlog = null,
                this.idUploadBlog = null
            },
               submitForm() {
                  
                this.validationForm()
                  if (this.errors.length === 0) {
                    
                    let formData = new FormData()
                    formData.append('title',this.title)
                    formData.append('description',this.description)
                    const config = {
                        method: "post",
                        url: "http://demo-api-vue.sanbercloud.com/api/blog",
                        data: formData
                    }

                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            this.getBlogs()
                            alert(response.data.message)
                            console.log(response.data)
                        })
                        .catch( (error) => {
                           
                        })
                  }
               },
               getBlogs: function(){


                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/blog",
                    }

                    axios(config)
                        .then( (response) => {

                            this.blogs = response.data.blogs
            
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
               },
               removeBlog: function(id){

                const config={
                    method: "post",
                    // harusnya pake `` bukan ''
                    url: `http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
                    params: {_method: "DELETE"}
                }

                axios(config)
                    .then((response)=>{
                        this.getBlogs()
                        alert(response.data.message)
                    })
                    .catch((error)=>{
                        console.log(error)
                    })
                console.log(id)
               },
               editBlog: function(blog){
                   this.title = blog.title
                   this.description = blog.description
                   this.buttonStatus = 'update'
                   this.idEditBlog = blog.id
               },
               updateBlog: function(id){
                    this.validationForm()

                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('title',this.title)
                        formData.append('description',this.description)
                        
                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
                            params: {_method: "PUT"},
                            data: formData
                        }

                    axios(config)
                        .then((response)=>{
                            this.clearForm()
                            this.getBlogs()

                            alert(response.data.message)
                        })
                        .catch((error)=>{
                            console.log(error)
                        })
                    }
                    
               },
               uploadFoto: function(blog){
                   this.title = blog.title
                   this.description = blog.description
                   this.buttonStatus = 'upload'
                   this.idUploadBlog = blog.id
               },
               submitPhoto: function(id){
                   
                let file = this.$refs.photo.files[0]

                let formData = new FormData()
                formData.append('photo', file)

                let config = {
                    method: "post",
                    url: `http://demo-api-vue.sanbercloud.com/api/blog/${id}/upload-photo`,
                    data: formData
                }
                axios(config)
                    .then((response)=>{
                        this.clearForm()

                        this.getBlogs()

                        alert(response.data.message)
                    })
                    .catch((error)=>{
                        console.log(error)
                    })

               }
            },
            created(){
                   this.getBlogs()
            }
         });
      </script>
   </body>
</html>
