<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <style>
         input {
            display: block;
         }
      </style>
   </head>
   <body>
      <div id="app">
         <input type="text" v-model="input" />
         <button @click="add">add</button>
         <input type="text" v-model:value="editInput" />
         <button @click="update(conIndex)">Update</button>
         <ul>
            <li v-for="(user,index) in users" :key="user.name">
               <span>{{user.name}}</span>
               <button @click="editLi(index)">Edit</button>
               <button @click="deleteLi(index)">Delete</button>
            </li>
         </ul>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script>
         let vm = new Vue({
            el: "#app",
            data: {
               input: "",
               editInput: "",
               conIndex: null,
               users: [
                  {
                     name: "Mujahid Ansori Majid",
                  },
                  {
                     name: "Hilmy Apriyadi",
                  },
                  {
                     name: "farhan nurzman",
                  },
               ],
            },
            methods: {
               add() {
                  this.users.push({ name: this.input });
               },
               deleteLi(index) {
                  this.users.splice(index, 1);
               },
               update(index) {
                  this.users[index].name = this.editInput;
               },
               editLi(index) {
                  this.editInput = this.users[index].name;
                  this.conIndex = index;
               },
            },
         });
      </script>
   </body>
</html>
