<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label,input {
            display: block;
            width: 200px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm">
            <p v-if="errors.length">
                <b>Pleaser Correct the following Errors</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label for="name">Nama</label>
            <input type="text" name="name" ref="name" :disabled="buttonStatus == 'upload'" v-model="name">
            <label for="address">alamat</label>
            <textarea name="address" id="address" ref="address" :disabled="buttonStatus == 'upload'" v-model="address" cols="23.7"></textarea>
            <label for="no_hp">No.hp</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" v-model="no_hp">
            
            <div v-if="buttonStatus == 'submit'">
              <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
              <input type="button" value="UPDATE" @click="updateMember(idEditMember)">
              <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
              <input type="file" name="photo_profile" ref="photo_profile" value="UPDATE" @click="updateMember(idEditMember)">
              <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top: 5px; margin-bottom: 5px;">
              <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;">
            </div> 

       
        </form>
             
        <br><br>
        <table border="1">
          <tr v-for="member in members">
              <td>
                  <img width="100" :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/1920x1080/efef/fff'" alt="">
              </td>
              <td>
                  <b>Title: </b>{{  member.name }} <br>
                  <b>Description: </b>{{  member.address }} <br>
                  <b>No.hp</b> {{ member.no_hp}} <br>
              </td>
              <td>
                  <button @click="editMember(member)">Edit</button>
                  <button @click="removeMember(member.id)">Hapus</button>
                  <button @click="uploadPhoto(member)">Upload photo</button>
              </td>
          </tr>

      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        let vm = new Vue({
            el:'#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                members: [],
                errors: [],
                buttonStatus: 'submit',
                idEditMember: null,
                idUploadMember: null,
                photoDomain: 'http://demo-api-vue.sanbercloud.com/',
            },
            methods: {
                validationForm: function(){
                    this.errors = [];

                    if (this.name.length >= 30) {
                        this.errors.push("Nama Maksimal 30 karakter");
                        this.$refs.name.focus();
                    }

                    if (this.address.length < 5) {
                    this.errors.push("alamat Kurang lengkap");
                    this.$refs.address.focus();
                    }
                    if(isNaN(this.no_hp)){
                        this.errors.push("no hp harus angka")
                        this.$refs.no_hp.focus();
                    }
                },
                clearForm(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus='submit',
                    this.idEditMember = null,
                    this.idUploadMember = null
                },
                submitForm() {
                  
                  this.validationForm()
                    if (this.errors.length === 0) {
                      
                      let formData = new FormData()
                      formData.append('name',this.name)
                      formData.append('address',this.address)
                      formData.append('no_hp',this.no_hp)
                      const config = {
                          method: "post",
                          url: "http://demo-api-vue.sanbercloud.com/api/member",
                          data: formData
                      }
  
                      axios(config)
                          .then( (response) => {
                            //   this.clearForm()
                              this.getMembers()
                              alert(response.data.message)
                              console.log(response.data)
                          })
                          .catch( (error) => {
                             console.log(error)
                          })
                       alert("Terimakaish telah mengisi dengan benar");
                    }
                 },
                 getMembers: function(){


                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member",
                    }

                    axios(config)
                        .then( (response) => {

                            this.members = response.data.members
                            console.log(this.members)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },
                removeMember: function(id){
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE`,
                        params: {_method: "DELETE"}
                    }
                    axios(config)
                    .then((response)=>{
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch((error)=>{
                        console.log(error)
                    })
                    console.log(id)
                },
                editMember: function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },
                updateMember: function(id){
                    this.validationForm()

                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name',this.name)
                        formData.append('address',this.address)
                        formData.append('no_hp',this.no_hp)
                        
                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=PUT`,
                            params: {_method: "PUT"},
                            data: formData
                        }

                    axios(config)
                        .then((response)=>{
                            this.clearForm()
                            this.getMembers()

                            alert(response.data.message)
                        })
                        .catch((error)=>{
                            console.log(error)
                        })
                    }
                    
               },
               uploadPhoto: function(member) {
                   this.name = member.name
                   this.address = member.address
                   this.no_hp = member.no_hp
                   this.buttonStatus = 'upload'
                   this.idUploadMember = member.id
               },
               submitPhoto: function(id){

                    let file = this.$refs.photo_profile.files[0]
                    let formData = new FormData()

                    formData.append('photo_profile',file)

                    let config={
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }
                    axios(config)
                    .then((response)=>{
                        this.clearForm()

                        this.getMembers()

                        alert(response.data.message)
                    })
                    .catch((error)=>{
                        console.log(error)
                    })

               }

            },
            created(){
                this.getMembers()
            }
        })
    </script>
</body>
</html>